@import url(./public.css);
.pageWrap {
    padding-top: 110px;
    background-image: url(./image/page-bg.png);
    background-position: bottom center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

footer+.mainPage {
    padding: 0 0 150px;

}