@import url(public.css);
.footerBannerBlock {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background: url(image/DM_20240507183319_009.PNG);
  background-position: top center;
  padding: 80px 15px 50px;
}
.footerBannerBlock ul.footerBanners {
  width: 100%;
  max-width: 1140px;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}
.footerBannerBlock ul.footerBanners li {
  width: calc(50% - 10px);
  margin-bottom: 30px;
}
.footerBannerBlock ul.footerBanners li a {
  display: block;
  position: relative;
}
.footerBannerBlock ul.footerBanners li a:hover::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(228, 0, 75, 0.5);
}
.footerBannerBlock ul.footerBanners li a img {
  width: 100%;
}
