@media only screen and (max-width: 1279px) {
  .layout {
    padding: 5px 15px 0 5px;
    height: 53px;
  }
  .layout a.logo {
    width: 100px;
  }
  .layout ul.nav {
    display: none;
  }
  .layout .medium img {
    width: 32px;
    height: auto;
  }
  .layout .lineBox {
    display: block;
  }
}
