/* //10px的方案 */

@import url(public.css);
.layout {
  display: flex;
  max-width: 1920px;
  height: 110px;
  margin: auto;
  padding-right: 40px;
  padding-left: 40px;
  align-items: center;
}
.layout a.logo {
  display: block;
  width: 200px;
  height: 100%;
  margin-right: auto;
}
.layout a.logo img {
  width: 100%;
  height: 100%;
}
.layout ul.nav li.nav-item {
  display: inline-block;
  padding-top: 5px;
  margin-left: 35px;
}
.layout ul.nav li.nav-item a.nav-link {
  display: block;
  color: #858585;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
}
.layout ul.nav li.nav-item a.nav-link .EN {
  font-size: 18px;
  font-weight: 700;
  font-family: "Cabin", sans-serif;
  letter-spacing: 0.1em;
}
.layout ul.nav li.nav-item a.nav-link .Jp {
  font-size: 11px;
}
.layout .medium img {
  width: 40px;
  height: auto;
  margin-left: 10px;
  padding-top: 5px;
}
.layout .medium img:nth-child(1) {
  margin-left: 50px;
}
.layout .lineBox {
  padding-top: 12px;
  width: 53px;
  height: 53px;
  display: none;
}
.layout .lineBox .line {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #e5004f;
  margin: 6px auto;
}
