
.heanderContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: white;
}

.layout {
    display: flex;
    max-width: 1920px;
    height: 110px;
    margin: auto;
    padding-right: 40px;
    padding-left: 40px;
    align-items: center;

    a.logo {
        display: block;
        width: 200px;
        margin-right: auto;

        img {
            width: 100%;
        }

    }

    ul.nav {
        li.nav-item {
            display: inline-block;
            padding-top: 5px;

            &:nth-child(1):hover a>.EN {
                color: #e02;
            }

            &:nth-child(2):hover a>.EN {
                color: #07d;
            }

            &:nth-child(3):hover a>.EN {
                color: #f5b;
            }

            &:nth-child(4):hover a>.EN {
                color: #ffcc13;
            }

            &:nth-child(5):hover a>.EN {
                color: #a6d;
            }

            &:nth-child(6):hover a>.EN {
                color: #00abbb;
            }

            &:nth-child(7):hover a>.EN {
                color: #f52;

            }

            &+li {
                margin-left: 35px;

            }

            a.nav-link {
                display: block;
                color: #858585;
                line-height: 1.2;
                font-weight: bold;
                text-align: center;

                transition: color, 0.5s ease;

                .EN {
                    font-size: 18px;
                    font-weight: 700;
                    font-family: "Cabin", sans-serif;
                    letter-spacing: .1em;
                }

                .Jp {
                    font-size: 11px;

                }
            }
        }
    }

    .medium {
        display: flex;

        a {
            display: block;
            // padding-top: 5px;
            margin-left: 10px;
            // display: inline-block;
            margin-top: -1px;
            transition: opacity 0.3s;

            img {
                width: 40px;
                // margin-top: -6px;
            }

            &:nth-child(1) {
                margin-left: 50px;
            }

            &:hover {
                opacity: 0.8;
            }
        }

    }


}

.lineBox {
    padding-top: 12px;
    width: 53px;
    height: 53px;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;

    .line {
        transition: transform, opacity, width, 0.2s;
        display: block;
        width: 22px;
        height: 2px;
        background-color: #e5004f;
        margin: 6px auto;

    }


    &.clickEvent {
        padding-top: 20px;


        .line {
            width: 24px;
        }

        .line:nth-child(1) {
            transform: rotate(45deg);
        }

        .line:nth-child(2) {
            margin-top: -8px;
            transform: rotate(-45deg);
        }

        .line:nth-child(3) {
            opacity: 0;
        }
    }
}

.heanderContainer.is-scrolled {
    background: rgba(255, 255, 255, 0.94);
    padding: 7px 0;

    .layout {
        height: auto;

        a.logo {
            width: 146px;
            transition: .2s;
        }
    }
}

#spHeaderNav {
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9;
    padding-bottom: 103px;
    transition: opacity 0.8s ease;
    opacity: 0;

    &.in {
        opacity: 1;
    }

    .spHeaderNavigation {
        margin: 126px 15px;
        border-top: #e5004f 1px solid;

        li {
            border-bottom: #e5004f 1px solid;

            a {
                display: block;
                padding: 10px 50px 10px 10px;
                font-family: "Cabin", sans-serif;
                letter-spacing: .1em;
                font-size: 14px;
                font-weight: 500;
                color: #fff;
            }
        }
    }
}

.collapse {
    display: none;

    &.in {
        display: block;
    }
}